<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/default::header">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Baker. 나만의 레시피 북</title>
</head>
<body>
<div id="wrap">
    <div th:replace="role/banner::#header"/>
<div id="content" role="main">
    <form action="/members/new" class="sign_form" role="form"  method="post" th:object="${memberFormDto}">
        <section class="sign_up">
            <div class="form_title">
                <h2>SIGN UP</h2>
            </div>

            <div class="form_box">
                <label th:for="name">닉네임</label>
                <input type="text" th:field="*{name}" class="text_form" placeholder="닉네임을 입력해 주세요." required>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="field_error">Incorrect data</p>
            </div>

            <div class="form_box">
                <label th:for="email">아이디</label>
                <input type="text" th:field="*{email}" class="text_form" placeholder="이메일을 입력해 주세요." required>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="field_error">Incorrect data</p>
            </div>

            <div class="form_box">
                <label th:for="password">비밀번호</label>
                <input type="password" th:field="*{password}" class="text_form" placeholder="비밀번호를 입력해 주세요" required>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="field_error">Incorrect data</p>
            </div>

            <button type="submit" class="login_btn" th:href="@{members/loginForm.html}">회원가입</button>

            <!--/* csrf(사이트간 위조 요청) 를 막기 위한 csrf 토큰값 */-->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </section>
    </form>
</div>
</div>
</div>
</body>
</html>