<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/default::header}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Baker. 나만의 레시피 북</title>
</head>
<body>
<div id="wrap">
    <div th:replace="~{role/banner::section}"></div>
    <div id="content" role="main">
        <section class="myPage_form">
            <div class="myPage_wrap">
                <div class="my_title">
                    <h2>MY PAGE</h2>
                </div>
                <!-- 유저 아이디 -->
                <div class="myBox user_name">
                    <label th:for="username">닉네임</label>
                    <p th:text="${memberDto.getUsername()}" id="username"></p>
                </div>
                <!-- 유저 이메일 -->
                <div class="myBox user_email">
                    <label th:for="emial">이메일</label>
                    <p th:text="${memberDto.getEmail()}" id="email"></p>
                </div>
                <!-- 유저 가입날짜 -->
                <div class="myBox user_regTime">
                    <label th:for="regTime">가입날짜</label>
                    <p th:text="${#temporals.format(memberDto.regTime, 'yyyy-MM-dd HH:mm')}" id="regTime"></p>
                </div>
                <div class="user_unregister">
                    <a th:href="@{/members/delete/{memberId}(memberId=${memberDto.id})}"
                       th:onclick="confirmDeletion()" class="unregister_btn">회원 탈퇴하기</a>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
/*    function confirmDeletion() {
        if(confirm("회원탈퇴 시 작성한 레시피도 모두 삭제됩니다. 정말로 탈퇴를 하시겠습니까?")) {
            var deleteMsg = prompt("[회원탈퇴] 괄호 안 메세지를 정확히 입력 해 주세요.");
            if (deleteMsg === "회원탈퇴"){
                alert("회원탈퇴가 완료되었습니다.")
                location.href = "/";
            }else {
                alert("잘못 입력 하였습니다. 다시 시도 해 주세요.")
                return false;
            }
        }else {
            return false;
        }
    }*/
function confirmDeletion() {alert("회원탈퇴가 완료되었습니다.")}
</script>
</body>
</html>