<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/default::header}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Baker. 나만의 레시피 북</title>
</head>
<body>
<div id="wrap">
    <div th:replace="~{role/banner::section}"></div>
    <div id="content" role="main">
        <form action="/members/join" th:object="${joinMemberDto}" class="sign_form" method="post">
            <section class="sign_up">
                <div class="form_title">
                    <h2>MY PAGE</h2>
                </div>
                <!-- 유저 아이디 -->
                <div class="user_name">
                    <th:block sec:authorize="isAuthenticated()">
                        <i class="fa-solid fa-circle-user"></i> <span th:text="${#authentication.getName()}"></span>
                    </th:block>
                </div>
                <!-- 유저 이메일 -->
                <div class="user_email">
                    <th:block sec:authorize="isAuthenticated()">
                        <i class="fa-solid fa-circle-user"></i> <span th:text="${#authentication.getem}"></span>
                    </th:block>
                </div>
                <!-- 유저 가입날짜 -->
                <div class="user_regDate">
                    <th:block sec:authorize="isAuthenticated()">
                        <i class="fa-solid fa-circle-user"></i> <span th:text="${#authentication.getem}"></span>
                    </th:block>
                </div>
                <!-- 유저 탈퇴 : 삭제 하지 않은 게시글은 그대로 남아있음을 경고 -->
                <div class="user_unregister">
                    <th:block sec:authorize="isAuthenticated()">
                        <i class="fa-solid fa-circle-user"></i> <span th:text="${#authentication.getem}"></span>
                    </th:block>
                </div>
            </section>
        </form>
    </div>
</div>
<script src="/js/token.js"></script>
</body>
</html>