<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/default::header}">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Baker. 나만의 레시피 북</title>
</head>
<body>
<div id="wrap">
  <div th:replace="~{role/banner::#header}"></div>
  <div id="content" role="main">
    <form action="/newRecipe/ex01" class="recipe_form" role="form"  method="post">
      <section class="write">
        <div class="write_left">
            <div class="recipe_title">
              <select name="recipe_type" id="recipe_type">
                <option value="bread">Bread</option>
                <option value="cookie">Cookie</option>
                <option value="cake">Cake</option>
              </select>
              <input type="text" name="recipeName" class="recipeName" placeholder="레시피 이름을 입력해 주세요."  th:text="${itemDto.itemName}" readonly>
              <input type="text" name="recipeInfo" class="recipeInfo" placeholder="레시피를 한줄로 표현한다면? (최대 25자)" th:text="${itemDto.info}" maxlength="25" readonly>
            </div>
            <div class="recipe_img">
              <input type="file" name="recipeImg" class="recipeImg" readonly>
            </div>
            <div class="recipe_material">
              <label th:for="material">[ 재료 ]</label>
              <textarea name="material" id="material" cols="45" rows="4" maxlength="200" th:text="${itemDto.material}" readonly></textarea>
            </div>
        </div>
        <div class="write_right">
          <div class="recipe_write">
            <label th:for="recipe">[ 레시피 ]</label>
            <textarea name="recipe" id="recipe" cols="45" rows="15" maxlength="500" th:text="${itemDto.recipe}" readonly></textarea>
          </div>
          <div class="submit_btn">
            <input type="submit" class="modify_btn" value="레시피 수정"/>
          </div>
          </div>
      </section>
    </form>
  </div>
  </div>
</body>
</html>