<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/default::header}">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Baker : 새로운 레시피</title>
</head>
<body>
<div id="wrap">
  <div th:replace="~{role/banner::section}"></div>
  <div id="content" role="main">
      <section class="recipe_view">
          <input type="hidden" id="item-id" th:value="${itemId}">
        <div class="view_left">
            <div class="view_title">
              <p class="view_type" th:text="${item.itemType}" id="itemType"></p>
              <p class="view_name" th:text="${item.itemName}" id="itemName"></p>
              <p class="view_info" th:text="${item.info}" id="itemInfo"></p>
            </div>
            <div class="view_img_wrap">
                <div class="view_img" th:each="itemImg : ${item.itemImgDtoList}">
                    <a th:href="@{(${itemImg.imgUrl.replace('http://www.communitybaker.shop/recipeBook/', '')})}" target="_blank">
                        <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" width="170">
                    </a>
                </div>
            </div>

            <div class="view_material">
              <label th:for="material">[ 재료 ]</label>
              <p class="material_text" th:text="${item.material}" id="material"></p>
            </div>
        </div>
        <div class="view_right">
          <div class="view_ex">
            <label th:for="recipe">[ 레시피 ]</label>
            <p class="ex_text" th:text="${item.recipe}" id="recipe"></p>
          </div>
            <p th:text="${item.view}"></p>
          <div class="view_btn" th:if="${item.createBy == #authentication.getName()}">
              <a th:href="@{/recipe/new/{itemId}(itemId=${item.id})}" class="modify_btn">수정</a>
              <a th:href="@{/recipe/delete/{itemId}(itemId=${item.id})}" th:onclick="delete_btn()" class="delete_btn">삭제</a>
          </div>
        </div>
      </section>
  </div>
  </div>
<script>
    function delete_btn() {
        alert("레시피가 삭제되었습니다.");
    }
</script>
</body>
</html>