<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/default::header}">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Baker : 레시피 리스트</title>
<!--    <th:block layout:fragment="script">
      <script th:inline="javascript">
        $(document).ready(function(){
          $("#searchBtn").on("click", function (e) {
            e.preventDefault();
            page(0);
          });
        });

        function page(page) {
          var searchItemType = $("#searchItemType").val();
          var searchQuery = $("#searchQuery").val();

          location.href="/list/" + page + "?searchItemType=" + searchItemType + "&searchQuery=" + searchQuery;
        }
      </script>
    </th:block>-->

  <th:block layout:fragment="script">
    <script th:inline="javascript">

      $(document).ready(function(){
        $("#searchBtn").on("click",function(e) {
          e.preventDefault();
          page(0);
        });
      });

      function page(page) {
        var searchItemType = $("#searchItemType").val();
        var searchQuery = $("#searchQuery").val();

        location.href="/list/" + page + "?searchItemType=" + searchItemType + "&searchQuery=" + searchQuery;
      }

    </script>
  </th:block>
</head>
<body>
<div id="wrap">
  <div th:replace="~{role/banner::section}"></div>
  <div id="content" role="main">
    <form th:action="@{'/list/' + ${items.number}}" class="list_form" role="form" th:object="${items}" method="get">
<!--      &lt;!&ndash; csrf(사이트간 위조 요청) 를 막기 위한 csrf 토큰값 &ndash;&gt;-->
<!--      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
      <div class="recipe_search" th:object="${itemSearchDto}">
        <select class="recipe_type" th:field="*{searchitemType}">
          <option value="BREAD">Bread</option>
          <option value="CAKE">Cake</option>
          <option value="COOKIE">Cookie</option>
        </select>
        <input type="text" class="search_field" th:field="*{searchQuery}" placeholder="레시피명를 입력해주세요" maxlength="15">
        <button id="searchBtn" type="submit">검색</button>
      </div>
      <table class="list">
        <thead class="list_head">
        <tr>
          <td>No.</td>
          <td>Type</td>
          <td>Recipe Name</td>
          <td>Date</td>
        </tr>
        </thead>
        <tbody class="list_body">
        <tr th:each="item, status: ${items.getContent()}">
          <td th:text="${item.id}"></td>
          <td th:text="${item.itemType}" id="itemType"></td>
          <td id="itemName">
            <a th:href="@{/recipeBook/{itemId}(itemId=${item.id})}" th:text="${item.itemName}"></a>
          </td>
          <td th:text="${#temporals.format(item.regTime, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
      </table>
      <!-- 페이징처리 시작 -->
<!--      <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})"  class="list_page">
        <ul>
          <li class="page-item" th:classappend="${items.first}?'disabled'">
            <a class="page-link" th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous'>
              <span aria-hidden="true">이전</span>
            </a>
          </li>
          <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
            <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
          </li>
          <li class="page-item" th:classappend="${items.last}?'disabled'">
            <a class="page-link" th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next'>
              <span aria-hiddenclass="page-link"="true">다음</span>
            </a>
          </li>
        </ul>
      </div>-->
      <div class="list_page">
      <ul class="pagination" th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">

        <li th:if="${items.last}" class="page-item">
          <a th:href="@{/list/{page}(page=${start - 1})}" th:text="'<<'" class="page-link"></a>
        </li>

        <li th:each="page: ${#numbers.sequence(start, end)}">
          <a th:text="${page}" th:href="@{/list/{page}(page=${page - 1})}" class="page-num"></a>
        </li>

        <li th:if="${items.first}" class="page-item">
          <a th:href="@{/list/{page}(page=${start + 1})}" th:text="'>>'" class="page-link"></a>
        </li>
      </ul>
    </div>
      <!-- 페이징처리 끝 -->
    </form>
  </div>
</div>
</body>
</html>