<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/default::header}">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Baker : 새로운 레시피</title>
</head>
<body>
<div id="wrap">
  <div th:replace="~{role/banner::section}"></div>
  <div id="content" role="main">
      <section class="recipe_view">
          <input type="hidden" id="item-id" th:value="${item.id}">
        <div class="view_left">
            <div class="view_title">
              <p class="view_type" th:text="${item.itemType}" id="itemType"></p>
              <p class="view_name" th:text="${item.itemName}" id="itemName"></p>
              <p class="view_info" th:text="${item.info}" id="itemInfo"></p>
            </div>
            <div class="view_img"></div>
            <div class="view_material">
              <label th:for="material">[ 재료 ]</label>
              <div class="material_text" th:text="${item.material}" id="material"></div>
            </div>
        </div>
        <div class="view_right">
          <div class="view_ex">
            <label th:for="recipe">[ 레시피 ]</label>
            <div class="ex_text" th:text="${item.recipe}" id="recipe"></div>
          </div>
          <div class="view_btn">
            <button type="button" class="modify_btn"
                    th:onclick="|location.href='@{/new_recipe?id={itemId}(itemId=${item.id})}'|">수정</button>
            <button type="button" class="delete_btn" id="Delete_btn">삭제</button>
          </div>
        </div>
      </section>
  </div>
  </div>
<script src="/js/recipe.js"></script>
</body>
</html>