<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/default::header}">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Baker : 레시피 리스트</title>
</head>
<body>
<div id="wrap">
  <div th:replace="~{role/banner::section}"></div>
  <div id="content" role="main">
    <form action="/content/recipeList" class="list_form" role="form">
      <div class="recipe_search" >
        <select class="recipe_type">
          <option value="BREAD">Bread</option>
          <option value="COOKIE">Cookie</option>
          <option value="CAKE">Cake</option>
        </select>
        <input type="text" class="search_field" placeholder="레시피명를 입력해주세요" maxlength="15">
        <button id="searchBtn" type="submit">검색</button>
      </div>
      <table class="list">
        <thead class="list_head">
        <tr>
          <td>No.</td>
          <td>Type</td>
          <td>Recipe Name</td>
          <td>Date</td>
          <td></td>
        </tr>
        </thead>
        <tbody class="list_body">
        <tr th:each="item, loop : ${paging}">
          <td th:text="${item.id}"></td>
          <td th:text="${item.itemType}" id="itemType"></td>
          <td th:text="${item.itemName}" id="itemName"></td>
          <td th:text="${#temporals.format(item.regTime, 'yyyy-MM-dd HH:mm')}"></td>
          <td><a th:href="@{/list/{id}(id=${item.id})}">보러가기</a></td>
        </tr>
        </tbody>
      </table>
      <!-- 페이징처리 시작 -->
      <div th:if="${!paging.isEmpty()}" class="list_page">
        <ul>
          <li class="page-item" th:classappend="${paging.number == 1 or !paging.hasPrevious} ? 'disabled'">
            <a class="page-link" th:if="${paging.hasPrevious()}"
               th:href="@{|?page=${paging.number-1}|}">
              <span>이전</span>
            </a>
          </li>
          <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
              th:if="${page >= paging.number-3 and page <= paging.number+3}"
              th:classappend="${page == paging.number} ? 'active'"
              class="page-item">
            <a th:text="${page}" class="page-num" th:href="@{|?page=${page}|}"></a>
          </li>
          <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${paging.number+1}|}" th:if="${paging.hasNext()}">
              <span>다음</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- 페이징처리 끝 -->
    </form>
  </div>
</div>
</body>
</html>