<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="ensung2">
    <meta name="description" content="Baker. 나만의 레시피북을 만들어 보세요.">
    <meta name="keywords" content="레시피북, 제과, 제빵, 레시피, 다이어리, 온라인레시피북">

    <meta property="og:url" content="">
    <meta property="og:title" content="Baker. 나만의 레시피 북">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:description" content="Baker. 나만의 레시피북을 만들어 보세요.">

    <!-- CSRF 공격에 대비한 토큰 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="shortcut icon" th:href="@{/img/logo_500.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/img/logo_500.png}">

    <title>Baker. 나만의 레시피 북</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/banner.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/info.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginForm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/joinForm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/recipeForm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/recipeList.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/recipeNew.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/youtube.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myPage.css}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=IBM+Plex+Sans+KR:wght@500&family=Titan+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kit.fontawesome.com/bfdc62a914.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</head>
</html>