/* 전체 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrap {
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;
}

#content {
    margin: 0 auto;
    max-width: 2000px;
    min-height: 100vh;
    padding-left: 250px;
    background-color: whitesmoke;
}

button {
    border: none;
    background-color: #ffffff;
}
