.myPage_form {
    width: 400px;
    height: 470px;
    border-radius: 20px;
    position: relative;
    top: 120px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans KR', sans-serif;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
}

.myPage_wrap {
    padding: 50px;
    margin: 0 auto;
}

.my_title h2 {
    font-size: 3rem;
    color: #313131;
    text-align: center;
}

.myBox {
    padding: 9px 35px;
    margin: 0 auto;
    text-align: center;
}

.myBox label {
    text-align: left;
    color: #424242;
    display: block;
    font-weight: 600;
    padding-bottom: 3px;
}

.myBox p {
    padding: 5px 0;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 2px solid #9f9f9f;
    color: #313131;
}

.user_unregister {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: dimgrey;
    font-size: 0.8rem;
}

.unregister_wrap {
    display: inline-block;
}

.user_unregister i {
    font-size: 1rem;
    padding-left: 5px;
    color: #c4302b;
    cursor: pointer;
}

.unregister_wrap:hover~ .alert_unregister {
    opacity: 1;
}

.alert_unregister {
    position: absolute;
    background-color: #ffcc00;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 10px;
    left: 145px;
    top: 390px;
    opacity: 0;
    transition: all 0.8s;
}
.alert_unregister p {
    color: #313131;
    font-size: 0.8rem;
}

.alert_unregister a {
    color: #c4302b;
    font-weight: 600;
    border-bottom: 1px solid #c4302b;
}

.unregister_btn {
    display: inline-block;
    color: #e17c3c;
}