.recipe_form  {
    display: flex;
    background-color: whitesmoke;
    max-height: 100vh;
    padding: 80px 100px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.write_left, .write_right {
    border-radius: 10px;
    background-color: #ffffff;
    width: calc(100% - 50%);
    border: 1.5px solid rgba(0,0,0,0.1);
    padding: 50px 0 50px 0;
}
.recipe_title {
    margin: 0 auto;
    text-align: center;
}

.recipe_type {
    margin: 0 auto;
    font-size: 1rem;
    color: #e17c3c;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border: 1px solid #e17c3c;
}

.recipe_type option {
    color: #2d2d2d;
}

.recipe_name {
    border: none;
    font-size: 2rem;
    padding: 3px;
    text-align: center;
    color: #2d2d2d;
    width: 80%;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.recipe_name::placeholder {
    color: rgba(225, 124, 60, 0.5);
    font-size: 1.8rem;
}

.recipe_info {
    border: none;
    font-weight: 200;
    text-align: center;
    color: #313131;
    padding: 3px;
    width: 60%;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.recipe_info::placeholder {
    color: #a6a6a6;
}

.recipe_img {
    width: 100%;
    height: 200px;
    padding: 20px 0;

}

.recipeImg {
    color: dimgrey;
    padding-left: 50px;
}
.recipeImg>.on {
    color: #e17c3c;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.recipe_material {
    padding: 15px 40px 0 40px;
    text-align: center;
}

.recipe_material label {
    display: block;
    font-size: 1.2rem;
    color: #e17c3c;
    padding-bottom: 10px;
}

.recipe_material textarea {
    height: 130px;
    text-align: left;
    padding: 5px 10px;
    color: #313131;
    resize: none;
    font-size: 1em;
    font-weight: lighter;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border-radius: 10px;
    border: 2px dashed rgba(0,0,0,0.1);
}

#material::placeholder {
    color: #a6a6a6;
}

.recipe_write {
    padding: 0 40px 10px 40px;
    /*background-color: #e17c3c;*/
    text-align: center;
}

.recipe_write label {
    display: block;
    font-size: 1.2rem;
    color: #e17c3c;
    padding-bottom: 10px;
}

.recipe_write textarea {
    height: 360px;
    text-align: left;
    padding: 5px 10px;
    color: #313131;
    font-weight: lighter;
    resize: none;
    font-size: 1rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border-radius: 10px;
    border: 2px dashed rgba(0,0,0,0.1);
}

#recipe::placeholder {
    color: #a6a6a6;
}

.form_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.form_btn button {
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1rem;
}

.modify_btn {
    color: #313131;
    background-color: #ffcc00;
}

.create_btn {
    color: #313131;
    background-color: #ffcc00;
}


