.recipe_view  {
    display: flex;
    background-color: whitesmoke;
    max-height: 100vh;
    padding: 80px 100px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.view_left, .view_right {
    border-radius: 10px;
    background-color: #ffffff;
    width: calc(100% - 50%);
    border: 1.5px solid rgba(0,0,0,0.1);
    padding: 50px 0 50px 0;
}
.view_title {
    text-align: center;
}

.view_type {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #e17c3c;
}

.view_name {
    display: block;
    font-size: 2rem;
    color: #e17c3c;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.view_info {
    display: block;
    color: #9f9f9f;
    font-weight: 200;
}

.view_img {
    width: 100%;
    height: 200px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_img a{
    display: inline-block;
    cursor: zoom-in;
}


.view_material {
    padding: 15px 40px 0 40px;
}

.view_material label {
    text-align: center;
    display: block;
    font-size: 1.2rem;
    color: #e17c3c;
    padding-bottom: 10px;
}

.material_text {
    height: 130px;
    text-align: left;
    padding: 5px 10px;
    color: #313131;
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border-radius: 10px;
    border: 2px dashed rgba(0,0,0,0.1);
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: pre-wrap;
}

/* 오른쪽 화면 - 레시피 */

.view_ex {
    padding: 0 40px 10px 40px;
}

.view_ex label {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #e17c3c;
    padding-bottom: 10px;
}

.ex_text {
    height: 360px;
    padding: 5px 10px;
    color: #313131;
    font-weight: lighter;
    font-family: 'IBM Plex Sans KR', sans-serif;
    border-radius: 10px;
    border: 2px dashed rgba(0,0,0,0.1);
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: pre-wrap;
}

/* 버튼 */

.view_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.view_btn a {
    padding: 5px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.modify_btn {
    color: #313131;
    background-color: #ffcc00;
}

.delete_btn {
    background-color: #313131;
}




