.youtube_clone  {
    position: relative;
    background-color: #0f0f0f;
    height: 100vh;
    padding: 80px 100px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.you_title {
    padding-bottom: 20px;
}

.creator i {
    color: #c4302b;
    padding-right: 5px;
}

.creator mark {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #313131;
    font-weight: lighter;
}

.level {
    background-color: #e17c3c;
}

.level h3 {
    position: absolute;
    display: inline-block;
    font-weight: 200;
}

.level h3 i {
    color: #ffcc00;
}


.you_content01 swiper-container {
    position: absolute;
    width: 25%;
    height: 25%;
    border-radius: 15px;
    margin-top: 35px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.0);
    overflow: hidden;
}

.you_content01 swiper-container a {
    display: block;
    width: 100%;
    height: 100%;
}

/* 채널 이미지 */
.swiper01 swiper-slide:nth-child(1) {
    background-color: #bd8869;
    background: url("../img/011_hoya.jpg") no-repeat center;
}
.swiper01 swiper-slide:nth-child(2) {
    background: url("../img/012_kkuume.jpg") no-repeat center;
}
.swiper01 swiper-slide:nth-child(3) {
    background: url("../img/013_goms.jpg") no-repeat center;
}
.swiper02 swiper-slide:nth-child(1) {
    background: url("../img/021_jinyeong.jpg") no-repeat center;
}
.swiper02 swiper-slide:nth-child(2) {
    background: url("../img/022_cookingsee.jpg") no-repeat center;
}
.swiper02 swiper-slide:nth-child(3) {
    background: url("../img/023_sizning.jpg") no-repeat center;
}

.swiper03 swiper-slide:nth-child(1) {
    background: url("../img/031_cookingtree.jpg") no-repeat center;
}
.swiper03 swiper-slide:nth-child(2) {
    background: url("../img/032_joconde.jpg") no-repeat center;
}
.swiper03 swiper-slide:nth-child(3) {
    background: url("../img/033_jadore.jpg") no-repeat center;
}

/*=================================================================================*/
.swiper02, .level h3:nth-child(2) {
    left: 37%;
}

.swiper03, .level h3:nth-child(3) {
    left: 65.8%;
}

.you_content01 swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.you_content01 swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* you_content02 */


.you_content02 {
    padding-top: 265px;
}

.you_content02 swiper-container {
    width: 100%;
    height: 100%;
}

.you_content02 swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 10px;
    overflow: hidden;
}
.you_content02 swiper-slide a {
    font-size: 1.5rem;
    color: #ffcc00;
    background-color: rgba(0,0,0,0.8);
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 100%;
    line-height: 8;
    transition: all 0.3s;
}

.you_content02 swiper-slide a:hover {
    opacity: 1;
}

.slide_01 {
    background: url("../img/slide_01.gif") no-repeat center;
}
.slide_02 {
    background: url("../img/slide_02.gif") no-repeat center;
}
.slide_03 {
    background: url("../img/slide_03.gif") no-repeat center;
}
.slide_04 {
    background: url("../img/slide_04.gif") no-repeat center;
}
.slide_05 {
    background: url("../img/slide_05.gif") no-repeat center;
}
.slide_06 {
    background: url("../img/slide_06.gif") no-repeat center;
}
.slide_07 {
    background: url("../img/slide_07.gif") no-repeat center;
}

