<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="header" role="banner">
    <div class="header_bar">
        <h1 class="nav_bar">
            <a href="/header"><i class="fas fa-light fa-bars"></i></a>
        </h1>
        <h1 class="header_logo">
            <a href="/">Baker.</a>
        </h1>
    </div>
    <nav class="header_menu">
        <ul class="menu">
            <li class="menu_01">
                <a th:href="@{/new/}"><i class="fa-solid fa-cookie-bite"></i> 오늘의 레시피</a>
            </li>
            <li class="menu_02">
                <a th:href="@{/list/}"><i class="fa-solid fa-clipboard-list"></i> 레시피 리스트</a>
            </li>
            <li class="menu_03">
                <a th:href="@{/you_recommend/}"><i class="fa-brands fa-youtube"></i> 유튜브 레시피 추천</a>
            </li>
        </ul>
        <div class="login_out">
            <a th:href="@{/templates/members/loginForm.html}">로그인</a>
        </div>
    </nav>
    <h5 class="git_link">
        <a href="https://github.com/ensung2/Baker" target="_blank"><i class="fa-brands fa-github-alt"></i>@ensung2</a>
    </h5>
</div>
</body>
</html>